[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHfSpttHWM9NY6fs8+HKyrGMgcspzcNBM530T1nUZXOJ"
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = {{ printf "%s/.config/git/allowed_signers" .chezmoi.homeDir | quote }}
[commit]
	gpgsign = true
[pull]
	rebase = true
[core]
	editor = nvim
[alias]
	newpr = !git_newpr
	updatepr = !git_updatepr
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{- $brewPrefix := "/usr/local" }}
{{- if eq .chezmoi.arch "arm64" }}{{- $brewPrefix = "/opt/homebrew" }}{{- end }}
[credential "https://github.com"]
	helper =
	helper = !{{ $brewPrefix }}/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ $brewPrefix }}/bin/gh auth git-credential
